@page "/households/create"
@using Microsoft.EntityFrameworkCore
@using JohnAssistantFSD.Domain
@inject IDbContextFactory<JohnAssistantFSD.Data.JohnAssistantFSDContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Household</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Household" OnValidSubmit="AddHousehold" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Household.Name" class="form-control" /> 
                <ValidationMessage For="() => Household.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Household.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Household.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Household.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Household.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Household.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Household.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Household.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Household.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/households">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Household Household { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddHousehold()
    {
        using var context = DbFactory.CreateDbContext();
        context.Household.Add(Household);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/households");
    }
}
