@page "/households"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JohnAssistantFSD.Domain
@using JohnAssistantFSD.Data
@implements IAsyncDisposable
@inject IDbContextFactory<JohnAssistantFSD.Data.JohnAssistantFSDContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="households/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Household">
    <PropertyColumn Property="household => household.Name" />
    <PropertyColumn Property="household => household.DateCreated" />
    <PropertyColumn Property="household => household.DateUpdated" />
    <PropertyColumn Property="household => household.CreatedBy" />
    <PropertyColumn Property="household => household.UpdatedBy" />

    <TemplateColumn Context="household">
        <a href="@($"households/edit?id={household.Id}")">Edit</a> |
        <a href="@($"households/details?id={household.Id}")">Details</a> |
        <a href="@($"households/delete?id={household.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private JohnAssistantFSDContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
