@page "/householdgroups"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JohnAssistantFSD.Domain
@using JohnAssistantFSD.Data
@implements IAsyncDisposable
@inject IDbContextFactory<JohnAssistantFSD.Data.JohnAssistantFSDContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="householdgroups/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.HouseholdGroup">
    <PropertyColumn Property="householdgroup => householdgroup.HouseholdId" />
    <PropertyColumn Property="householdgroup => householdgroup.UserId" />
    <PropertyColumn Property="householdgroup => householdgroup.DateCreated" />
    <PropertyColumn Property="householdgroup => householdgroup.DateUpdated" />
    <PropertyColumn Property="householdgroup => householdgroup.CreatedBy" />
    <PropertyColumn Property="householdgroup => householdgroup.UpdatedBy" />

    <TemplateColumn Context="householdgroup">
        <a href="@($"householdgroups/edit?id={householdgroup.Id}")">Edit</a> |
        <a href="@($"householdgroups/details?id={householdgroup.Id}")">Details</a> |
        <a href="@($"householdgroups/delete?id={householdgroup.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private JohnAssistantFSDContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
